.about-us-section {
  background: #ca94ca;
  text-align: center;
  margin: 50px 0px;
}
.about-us-partners img {
  width: 30%;
  margin: 0px 10px;
}
h1 {
  text-align: center;
  border-bottom: 2px solid #ca94ca;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.about-us-content {
  margin: 40px;
  font-size: 20px;
  padding: 20px;
}
